.popup-message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    align-items: center;
}

.popup-message.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.popup-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.popup-message i {
    margin-right: 8px;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form label i {
    margin-right: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-login {
    text-decoration: none;
    color: #007bff;
}

.link-login:hover {
    text-decoration: underline;
}


.login-container {
    display: flex;
    height: 100vh;
}


.image-container {
    flex: 1; 
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-right: 20px; 
}


.container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}


form {
    width: 100%;
}

label {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #f1d103; 
    outline: none;
}


button {
    background-color: #f1d103; 
    color: black;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #e0b900; 
    color: white;
}


a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

a:hover {
    color: #f1d103; 
}


.error {
    background-color: #af4a4a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 95%;
    text-align: center;
}


@media (max-width: 768px) {
    .login-container {
        flex-direction: column; 
    }

    .image-container img {
        display: none; 
    }

    .container {
        width: 90%;
        padding: 1.5rem;
    }
}
